h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#MainBurger {
  margin-left: 45%;
}


 body {
        background-image: url("../img/background.jpg");
    }
